<h2>55310 Chat</h2>

<div>
  <input id="chatBox">
</div>
<div>
  <p id="messagelogs"></p>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/users.js"></script>